.card {
  width: 18rem; // Adjust the card width as needed
  height: 450px; // Set a fixed height for the card
  margin-bottom: 20px; // Add margin between cards

  .card-img-container {
    height: 60%; // Set the desired height for the image container
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; // Hide any overflowing image content

    img {
      width: 100%;
      height: auto; // Allow the image to adjust its height
      object-fit: cover; // Maintain aspect ratio and cover the container
    }
  }

  .open-button {
    background-color: #28a745; /* Set the background color */
    color: #fff; /* Set the text color */
    border: none; /* Remove the border */
    font-size: 1rem; /* Adjust the font size */
    margin-top: 10px; /* Add space between elements */
  }
  
  .open-button:hover {
    background-color: #218838; /* Change background color on hover */
  }

  .card-body {
    text-align: center;
    height: 40%; // Set the height for the card body

    .card-title {
      font-size: 1.25rem; // Increase the title font size
      margin-top: 10px; // Add space between the image and title
    }

    .btn {
      font-size: 1rem; // Adjust button font size
      margin-top: 10px; // Add space between elements
    }
  }
}

