.card {
  width: 18rem; // Adjust the card width as needed
  margin-bottom: 20px; // Add margin between cards

  .card-img-container {
    height: 300px; // Set the desired height for the image container
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: auto; // Maintain aspect ratio
    }
  }

  .card-body {
    text-align: center;

    .card-title {
      font-size: 1.25rem; // Increase the title font size
      margin-top: 10px; // Add space between the image and title
    }

    .btn {
      font-size: 1rem; // Adjust button font size
      margin-top: 10px; // Add space between elements
    }
  }
}