/* Center the entire content horizontally */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Set a minimum height to occupy the full viewport */
}

/* Style for the profile cards */
.card {
  width: 100%;
  max-width: 400px; /* Adjust the maximum width as needed */
  margin-bottom: 20px;
}

/* Style for the favorite movies container */
.container h3 {
  text-align: center;
  margin-bottom: 20px;
}
