.profile-view {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .card {
      width: 100%;
      margin-top: 1rem;
    }
  
    .btn {
      margin-top: 1rem;
    }
  
    h3 {
      margin-top: 1rem;
    }
  
    .favorite-movies-container {
      width: 100%;
  
      .card {
        width: 100%;
        margin-bottom: 1rem;
  
        .card-body {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }