.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px; /* Add margin for spacing */
}

/* Style for the image container */
.img-container {
  flex: 1; /* Allow the image container to grow and take available space */
  max-width: 30%; /* Limit the width to 30% of the parent container */
  padding: 10px; /* Add padding around the image */
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 500px; /* Set a max height for the image container */
}

/* Style for the image itself */
.img-container img {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto; /* Allow the image to adjust its height */
  max-height: 100%; /* Set a max height for the image */
}

/* Style for the movie info container */
.movie-info {
  flex: 1; /* Allow the movie info container to grow and take available space */
  max-width: 65%; /* Limit the width to 65% of the parent container */
  padding: 10px; /* Add padding around the movie info */
}

/* Movie details styles */
.text-center {
  text-align: center;
}

/* Movie title style */
.movie-info .card-title {
  font-size: 1.25rem;
  margin-top: 10px;
  height: 3rem; /* Adjust the title height as needed */
  overflow: hidden;
  white-space: normal;
  text-align: center;
}

/* Movie description style */
.movie-info .card-title + .text-center {
  margin-top: 20px; /* Add space between title and description */
}

/* Genre and director styles */
.movie-info .card-subtitle {
  font-weight: bold;
  margin-top: 10px;
}

/* Back button style */
.movie-info .text-center > a {
  display: inline-block;
  margin-top: 20px;
}